
			<footer class="footer">
				<div class="container-fluid">
					<nav class="pull-left">
						<ul class="nav">
							<li class="nav-item">
                                <a class="nav-link" 
                                   target="_blank" 
                                   href="http://51.38.187.84:8000/">
									Finance Application
								</a>
							</li>
						</ul>
					</nav>
					<div class="copyright ml-auto">
                        &copy; AYCARD
					</div>				
				</div>
            </footer>
            